body {
    font-family: Quicksand, sans-serif;
    background-color: #ffffff;
    color: #cfcfcf;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #415D43;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    color: #fff;
}

#answers {
    margin-top: 20px;
}

button {
    background-color: #709775;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

button:active {
    background-color: #fefefe;
    color: #007BFF;
    border-radius: 5px;
    transition: 0.5s;
}

button:hover {
    background-color: #fefefe;
    color: #709775;
    border-radius: 5px;
    transition: 0.5s;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.hidden {
    display: none;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #ffffff;
}

#question {
    font-size: 1.5em;
    margin-bottom: 20px;
    transition: 1s;
    color: #ffffff;
}

#type-details {
    font-size: 1.2em;
    color: #ffffff;
    padding: 10px;
}
